<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<div class="flex-inner-grid">
  <div class="col"><img src="./images/professor.png" alt="professor" class="professor-icon"/></div>
  <div class="col"><img src="./images/professor.png" alt="professor" class="professor-icon"/></div>
  <div class="col"><img src="./images/professor.png" alt="professor" class="professor-icon"/></div>
  <div class="col"><img src="./images/professor.png" alt="professor" class="professor-icon"/></div>
  <div class="col"><img src="./images/professor.png" alt="professor" class="professor-icon"/></div>
</div>
<div class="flex-inner-grid last-inner-grid">
  <div class="col"><span class="btn btn-primary vote-btn1">Vote 1</span></div>
  <div class="col"><span class="btn btn-primary vote-btn2">Vote 2</span></div>
  <div class="col"><span class="btn btn-primary vote-btn3">Vote 3</span></div>
  <div class="col"><span class="btn btn-primary vote-btn4">Vote 4</span></div>
  <div class="col"><span class="btn btn-primary vote-btn5">Vote 5</span></div>
</div>
<div class="flex-inner-grid last-inner-grid">
  <div class="col"><span class="badge badge-warning result1">Loading...</span></div>
  <div class="col"><span class="badge badge-warning result2">Loading...</span></div>
  <div class="col"><span class="badge badge-warning result3">Loading...</span></div>
  <div class="col"><span class="badge badge-warning result4">Loading...</span></div>
  <div class="col"><span class="badge badge-warning result5">Loading...</span></div>
</div>



<div id="chart-container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
